body {
    font-family: cursive;
}

.logo {
    align-content: center;
    text-decoration: none;
    text-align-last: center;
    color: black;
}


.presentation {
    text-align: center;
    margin: 3em 0;
}

.resumedProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

.project-img {
    width: 40%;
}

.Project {
    width: 30%;
}