body {
    font-family: cursive;
}

.logo {
    align-content: center;
    text-decoration: none;
    text-align-last: center;
    color: black;
}


.presentation {
    text-align: center;
    margin: 3em 0;
}

.resumedProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    width: 27%;
}

li {
    list-style-type: none;
    display: contents;
}

.project-img {
    width: 40%;
    height: 3em;
    object-fit: scale-down;
}

.preview-img {
    width: 80%;
    height: 15em;
    object-fit: contain;
}

@media screen and (min-width: 250px) and (max-width: 540px) {

    .presentation, .project-description {
        font-size: 12px;
    }
    img {
        width: 50%;
    }

}